/*#############################################################
Name: Bitter Sweet
Date: 2006-10-02
Description: Lime flavoured template with two columns.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {color: #682;}
a:hover {color: #9A6;}

body {
	background: #5F8000 url(https://cloud.githubusercontent.com/assets/13574176/9661862/b3d0a0ae-522a-11e5-945f-c493f3237a1c.gif) repeat-y center top;
	color: #333;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
p{
	font-size: 1.2em;
	padding: 1.2em,1.2em,1.2em,1.2em;
}
ul {margin-left: 1.2em;}
li {list-style-image: url(https://cloud.githubusercontent.com/assets/13574176/9661864/b3d7886a-522a-11e5-924a-ea0d6ddddfb7.gif);}
h1 {font-size: 1.4em;}
blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}
h1,h2,h3 {color: #654;}

/* misc */
.clearer {clear: both;}

/* structure */
.container {
	background: url(https://cloud.githubusercontent.com/assets/13574176/9661867/b3db108e-522a-11e5-8793-cfe3322bf893.gif) repeat-y;
	margin: 0 auto;
	width: 702px;
}

/* top */
.top {
	background: #567300;
	font: normal 2.4em Verdana,sans-serif;
	height: 60px;
	margin: 0 auto;
	width: 630px;
}
.top a {
	color: #FFF;
	display: block;
	line-height: 60px;
	text-decoration: none;
	width: 100%;
}
.top span {padding-left: 24px;}
.top a:hover {
	background: #688B00;
	color: #FFF;
}

/* header */
.header {
	background: url(https://cloud.githubusercontent.com/assets/13574176/9661863/b3d784a0-522a-11e5-9eb2-56858818ad9c.jpg) no-repeat;
	height: 180px;
	margin: 0 auto;
	width: 630px;
}

/* item */
.item {clear: both;}
.item .date {
	background: url(https://cloud.githubusercontent.com/assets/13574176/9661866/b3da5afe-522a-11e5-84ab-9eecddbc9c15.gif) no-repeat;
	color: #FDD;
	float: left;
	height: 40px;
	text-align: center;
	width: 36px;
}
.item .date div {padding-top: 4px;}
.item .date span {font: normal 1.6em serif;}
.item .content {
	float: left;
	width: 420px;
}
.item h1 {
	background: #567300;
	color: #FFF;
	line-height: 40px;
	padding-left: 16px;

}
.item .body {padding: 12px 18px;}

/* main */
.main {
	float: left;
	margin-left: 36px;
}

/* navigation */
.navigation {
	float: left;
	margin-left: 1px;
	width: 208px;
}
.navigation h1 {
	background: #81AC00;
	color: #FFF;
	font-size: 1.3em;
	line-height: 40px;
	padding-left: 12px;
}
.navigation ul {margin: 0; padding: 0;}
.navigation li {
	border-bottom: 1px solid #D5E8AD;
	list-style: none;
}
.navigation li a {
	background: #E8F6BF url(https://cloud.githubusercontent.com/assets/13574176/9661865/b3d80556-522a-11e5-856d-03242cb0c1a8.gif) repeat-x;	
	color: #553;
	display: block;
	padding: 8px 4px 8px 12px;
	text-decoration: none;
}
.navigation li a:hover {
	background: #F0FFC6;
	color: #553;
}

.nav2 {
	float: left;
	margin-left: 1px;
	padding: 0px;
	width: 208px;
}

.nav2 a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-left: 12px;
}

.nav2 a:hover {
	background: #a6c44c;}
	
.nav2 h1 {
	background: #81AC00;
	color: #FFF;
	font-size: 1.3em;
	line-height: 40px;
}


/* footer */
.footer {
	background: url(https://cloud.githubusercontent.com/assets/13574176/9661868/b3dbd91a-522a-11e5-90ef-a4c29bb7065a.gif) repeat-x;
	color: #FFF;
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 626px;
}
.footer a {color: #FFF;}
.footer a:hover {color: #FAFCB0;}
