<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="slide">
	        		<li><a href="/">Home</a></li>
	        		<li><img class="top" src=images/button.png alt=""/></li>
	        	</ul>
	        	</nav>
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wilbanks.ericw@gmail.com">email</a></li>
	        		<li><a href="https://github.com/EricWilbanks">github.com/EricWilbanks</a></li>
				</ul>
			</footer>
		</body>
	</html>
